<div class="home-callout text-center container-fluid">
  <h1>ENJOY YOUR SPORT</h1>
</div>
<div class="home_welcome_text text-center">
  <h2>Willkommen auf Topside.info</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, autem, cupiditate, quidem inventore vel labore earum esse blanditiis numquam molestiae eos nihil explicabo suscipit rem voluptatem fugit sunt ipsam mollitia.</p>
</div>

<div class="container home-grid">
  <div class="text-center">
    <h2>Die neusten Stories</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Wie geht es nur weiter", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/2.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Das Jubiläum", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/3.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Top 10 Ficker in Deutschland", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/10.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Top 10 Joggerstrecken in Deutschland und der Welt", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
  </div>
</div>
    
<div class="container home-grid">
  <div class="text-center">
    <h2>Top Stories</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Wie geht es nur weiter", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/2.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Das Jubiläum", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/3.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Top 10 Ficker in Deutschland", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <nav class="text-center home-inner-grid">
        <%= link_to root_path do %>
          <%=image_tag("stories/10.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
        <%= link_to "Top 10 Joggerstrecken in Deutschland und der Welt", about_path, class: "home-grid-link" %>
        </nav>      
      </div>
    </div>
  </div>

</div>